@media screen and (max-width: 900px) {
    body {background-color: blue;}
    #image {
        display: inline;
    }

    .buttonHide {
        position: static;
    }
    .buttonShow {
        position: static;
    }
    .img {
        position: relative;
    }
}

