#image {
    display: none;
}

.buttonHide {

       top:16%;
       left:51%;
       position: absolute;
       z-index: 2;
}
.buttonShow {

       top:16%;
       left:45%;
       position: absolute;
       z-index: 2;
}
.img {
    top:20;
    position: absolute;
}

